html, body{
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #111;
}

@font-face{
  font-family: Proggy;
  src: url(../font/ProggyClean.ttf);
}

#editor1 {
  position: absolute;
  height: 70%;
  top: 0;
  right: 0;
  bottom: 30%;
  left: 0;
  width: 460px;
}
#editor2 {
  position: absolute;
  height: 30%;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 460px;
}
#content{
  position: absolute;
  top:0;
  left:460px;
  bottom:0;
  right:0;
  margin: 24px;
  /*font-family: 'VT323';*/
  font-family: Proggy, Arial;
  font-size: 24px;
  color: #8ccaaa;
  text-shadow: 0px 0px 6px #beed99, 0px 0px 6px #08c,0px 0px 6px #beed99;
}

#choice{
  position: absolute;
  z-index: 2;
  left: 360px;
  width: 100px;
}

$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;

@-webkit-keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}
/*#content{
  // flicker
  &::after{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:460px;
    bottom:0;
    right:0;
    background:transparentize($screen-background,0.9);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  // scanlines
  &::before{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:460px;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
  }
}*/

#content{
  -webkit-animation: flicker 0.15s infinite; /* Chrome, Safari, Opera */
  animation:flicker 0.15s infinite;
}